:root {

  --primary-color: #001d85;

  --secondary-color: white;

  --alternative-color: #007bff;

  --text-color: #001d85;

  --success-color: #0557;

  --error-color: #dc3545;

  --warning-color: #ff9307;

  --gradient-color: radial-gradient(50% 50% at 50% 50%, #5987fe 0%, #001d85 100%);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodyLogin {
  align-items: center;
  background: var(--gradient-color);
  color: var(--primary-color);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.formLogin {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 600px;
  z-index: 90000;
}

.formLogin2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}

.logo {
  background-image: url('./imagens/Logo.png');
  background-size: 100% 100%;
  height: 200px;
  position: absolute;
  top: -102px;
  width: 250px;
}

.input {
  border: 1px solid blue;
  border-radius: 10px;
  height: 40px;
  margin: 10px 0;
  width: 80%;
}

.btnPlay {
  align-items: center;
  background: linear-gradient(90deg, #06c 0%, #0077b6 100%);
  border: none;
  border-radius: 50px;
  box-shadow: #013752 2px 4px 0 0;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: Lato , sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 10px 30px;
  transform: translateY(0);
  transition: 1000ms;
}

.btnPlay:disabled {
  background: linear-gradient(90deg, #6baef1 0%, #6f9db6 100%);
  border: none;
  color: white;
}

.btnPlay:active:hover {
  background: linear-gradient(90deg, #06c 0%, #0077b6 100%);
  border: none;
  color: white;
  padding: 10px 50px;
  transform: translateY(-0);
  transition: 1000ms;
}

.btnConf {
  align-items: center;
  background-color: var(--alternative-color);
  border: none;
  border-radius: 50%;
  box-shadow: 1.5px 1px 0 0 var(--primary-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.btnConf:hover {
  background-color: rgb(94, 160, 247);
}

@keyframes move {

  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
}

.background span {
  animation: move 15s infinite linear;
  backface-visibility: hidden;
  border-radius: 13vmin;
  height: 13vmin;
  position: absolute;
  width: 13vmin;
}


.background span:nth-child( 0 ) {
  animation-delay: -166s;
  animation-duration: 179s;
  box-shadow: -26vmin 0 4.165vmin currentcolor;
  color: #e69d00;
  font-size: 70px;
  left: 34%;
  top: 58%;
  transform-origin: -7vw 21vh;
}

.background span:nth-child( 1 ) {
  animation-delay: -232s;
  animation-duration: 181s;
  box-shadow: 26vmin 0 3.613vmin currentcolor;
  color: #0400e6;
  font-size: 40px;
  left: 86%;
  top: 31%;
  transform-origin: -8vw 2vh;
}

.background span:nth-child( 2 ) {
  animation-delay: -183s;
  animation-duration: 185s;
  box-shadow: -26vmin 0 3.948vmin currentcolor;
  color: #0400e6;
  font-size: 40px;
  left: 60%;
  top: 52%;
  transform-origin: 22vw 16vh;
}

.background span:nth-child( 3 ) {
  animation-delay: -107s;
  animation-duration: 241s;
  box-shadow: -26vmin 0 4.215vmin currentcolor;
  color: #2852d2;
  font-size: 70px;
  left: 15%;
  top: 96%;
  transform-origin: 3vw 23vh;
}

.background span:nth-child( 4 ) {
  animation-delay: -92s;
  animation-duration: 198s;
  box-shadow: -26vmin 0 3.961vmin currentcolor;
  color: #2852d2;
  font-size: 40px;
  left: 27%;
  top: 45%;
  transform-origin: -24vw -9vh;
}

.background span:nth-child( 5 ) {
  animation-delay: -134s;
  animation-duration: 75s;
  box-shadow: 26vmin 0 4.112vmin currentcolor;
  color: #2852d2;
  font-size: 40px;
  left: 58%;
  top: 30%;
  transform-origin: 9vw 21vh;
}

.background span:nth-child( 6 ) {
  animation-delay: -90s;
  animation-duration: 158s;
  box-shadow: 26vmin 0 3.568vmin currentcolor;
  color: #2852d2;
  font-size: 60px;
  left: 15%;
  top: 57%;
  transform-origin: -9vw -2vh;
}

.background span:nth-child( 7 ) {
  animation-delay: -215s;
  animation-duration: 26s;
  box-shadow: -26vmin 0 3.287vmin currentcolor;
  color: #0400e6;
  font-size: 40px;
  left: 53%;
  top: 83%;
  transform-origin: 1vw 15vh;
}

.background span:nth-child( 8 ) {
  animation-delay: -43s;
  animation-duration: 225s;
  box-shadow: 26vmin 0 3.747vmin currentcolor;
  color: #0400e6;
  font-size: 70px;
  left: 19%;
  top: 95%;
  transform-origin: 23vw -23vh;
}

.background span:nth-child( 9 ) {
  animation-delay: -72s;
  animation-duration: 111s;
  box-shadow: -26vmin 0 3.258vmin currentcolor;
  color: #0400e6;
  font-size: 50px;
  left: 62%;
  top: 11%;
  transform-origin: -6vw -20vh;
}
