.timer-container {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: -160px;
  width: 100px;
}

.timeReal {
  background-color: red;
}

.countdown {
  height: 40px;
  position: absolute;
  width: 40px;
  left: -20px;

}

.countdown svg {
  height: 100%;
  width: 100%;
}

.countdown circle {
  animation: countdown linear forwards;
  animation-duration: 30s;
  animation-timing-function: linear;
  background-color: blueviolet;
  fill: none;
  stroke: rgb(34, 3, 148);
  stroke-dasharray: 113px;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2px;
  transform: rotate(-90deg);
  transform-origin: center;
}

@keyframes countdown {

  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -113px;
  }
}
